doctype
html
  head
    title Eric
    meta(charset="utf-8")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css')
    link(href='/css/skeleton.css' rel='stylesheet' type='text/css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="/js/min/main-min.js")
    link(rel="icon" type="image/png" href="images/favicon.png")
  body
    .bg
    canvas.bg2#bg2
    .container.row
      header.header.taright.three.columns.vertmid
        h1.logo Eric Jinks
        .info 
          //- span.cursor _
          .typed
            span _web developer
            span _musician
            span _visual artist
        nav.nav
      .nine.columns
    //- .overlay-colour-wrap
      .colour.one.on
    .overlay-texture
