doctype
html
  head
    title Eric
    meta(charset="utf-8")
    met(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css')
    link(href='/css/style.css' rel='stylesheet' type='text/css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="/js/min/main-min.js")
    link(rel="icon" type="image/png" href="images/favicon.png")
  body
    block content
      
    .overlay-texture
