extends layout
block content
  .post-header
    h4.post-title= title
    include partials/_details.jade
  .post-content      
    div!= contents

  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai_sublime.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js")
  script hljs.initHighlightingOnLoad();
